Repository Dreammyrr/Delta-v-NexusStation, pull requests merged in 2024-09, with the labels that each got.

#1 Cirurgia
  Content.Server/Palmtree/Surgery/Components/MindExchangerComponent.cs
  Content.Server/Palmtree/Surgery/Components/TendWoundComponent.cs
  Content.Server/Palmtree/Surgery/Components/ValidPatientComponent.cs
  Content.Server/Palmtree/Surgery/Components/ValidSurgeryToolComponent.cs
  Content.Server/Palmtree/Surgery/SurgerySystem.cs
  Content.Shared/Atmos/Rotting/RottingComponent.cs
  Content.Shared/Palmtree/Surgery/SharedSurgery.cs
  Resources/Audio/Palmtree/Items/Medical/cautery1.ogg
  Resources/Audio/Palmtree/Items/Medical/cautery2.ogg
  Resources/Audio/Palmtree/Items/Medical/hemostat1.ogg
  Resources/Audio/Palmtree/Items/Medical/organ1.ogg
  Resources/Audio/Palmtree/Items/Medical/organ2.ogg
  Resources/Audio/Palmtree/Items/Medical/retractor1.ogg
  Resources/Audio/Palmtree/Items/Medical/retractor2.ogg
  Resources/Audio/Palmtree/Items/Medical/saw.ogg
  Resources/Audio/Palmtree/Items/Medical/scalpel1.ogg
  Resources/Audio/Palmtree/Items/Medical/scalpel2.ogg
  Resources/Prototypes/Catalog/Fills/Backpacks/duffelbag.yml
  Resources/Prototypes/Catalog/Fills/Crates/medical.yml
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/surgery.yml
  Resources/Prototypes/Guidebook/medical.yml
  Resources/Prototypes/Palmtree/Catalog/Cargo/cargo_medical.yml
  Resources/Prototypes/Palmtree/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/Palmtree/Entities/Objects/Specific/Medical/surgery.yml
  Resources/Prototypes/Palmtree/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Palmtree/Recipes/Lathes/rehydrateable.yml
  Resources/ServerInfo/Palmtree/Medical/Surgery.xml
  Resources/Textures/Palmtree/Objects/Specific/Medical/surgery.rsi/antirot.png
  Resources/Textures/Palmtree/Objects/Specific/Medical/surgery.rsi/bloodfilter.png
  Resources/Textures/Palmtree/Objects/Specific/Medical/surgery.rsi/meta.json
  Resources/Textures/Palmtree/Structures/Machines/limbgrower.rsi/limbgrower_fill.png
  Resources/Textures/Palmtree/Structures/Machines/limbgrower.rsi/limbgrower_idleoff.png
  Resources/Textures/Palmtree/Structures/Machines/limbgrower.rsi/limbgrower_idleon.png
  Resources/Textures/Palmtree/Structures/Machines/limbgrower.rsi/limbgrower_openpanel.png
  Resources/Textures/Palmtree/Structures/Machines/limbgrower.rsi/limbgrower_panelopen.png
  Resources/Textures/Palmtree/Structures/Machines/limbgrower.rsi/limbgrower_unfill.png
  Resources/Textures/Palmtree/Structures/Machines/limbgrower.rsi/meta.json
Labels: Changes: C#, Changes: Documentation, Changes: Sprite, Changes: YML

#2 Tradução
  Resources/Audio/Jukebox/Chitaozinho_Xororo_Evidencias.ogg
  Resources/Audio/Jukebox/Luiz_Gonzaga_Asa_Branca.ogg
  Resources/Audio/Jukebox/The_Missile_Knows_Where_It_Is.ogg
  Resources/Audio/Jukebox/aloneedge.ogg
  Resources/Audio/Jukebox/attributions.yml
  Resources/Prototypes/Catalog/Jukebox/Standard.yml
  Resources/Prototypes/Guidebook/security.yml
  Resources/ServerInfo/Guidebook/Security/CriminalRecords.xml
  Resources/ServerInfo/Guidebook/Security/Defusal.xml
  Resources/ServerInfo/Guidebook/Security/Forensics.xml
  Resources/ServerInfo/Guidebook/Security/Security.xml
  Resources/ServerInfo/Guidebook/ServerRules/DefaultRules.xml
  Resources/ServerInfo/Guidebook/ServerRules/RoleTypes.xml
  runserver.bat
Labels: Changes: Documentation, Changes: YML

#8 Dreammyrr music 1 1
  Burguesinha+4180+5.ogg
  Chitaozinho_Xororo_Evidencias.ogg
  Crucified+3350+5.ogg
  Resources/Audio/Jukebox/Crucified+3350+5.ogg
  Resources/Audio/Jukebox/Furrymon+3310+5.ogg
  Resources/Audio/Jukebox/I'm Still Standing+3010+5.ogg
  Resources/Audio/Jukebox/Numa Sala de Reboco+2180+5.ogg
  Resources/Audio/Jukebox/Não Creio em Mais Nada+2190+5.ogg
  Resources/Audio/Jukebox/O Xote das Meninas+2300+5.ogg
  Resources/Audio/Jukebox/fenda da sunga+3020+5.ogg
  Resources/Audio/Jukebox/garcom+3210+5.ogg
  Resources/Audio/Jukebox/house of the rising sun+4200+5.ogg
  Resources/Audio/Jukebox/moskau+4270+5.ogg
  Resources/Audio/Jukebox/pelados em santos+3230+5.ogg
  Resources/Audio/Jukebox/rap do minecraft+3090+5.ogg
  a_morte_do_vaqueiro.ogg
  after_dark_x_sweater.ogg
  aloneedge.ogg
  american boy+3590+5.ogg
  attributions.yml
  comedor de cu+2350+5.ogg
  constellations.ogg
  drifting.ogg
  fenda da sunga+3020+5.ogg
Labels: Changes: YML

#3 musica - 001
  Burguesinha+4180+5.ogg
  Chitaozinho_Xororo_Evidencias.ogg
  Crucified+3350+5.ogg
  a_morte_do_vaqueiro.ogg
  after_dark_x_sweater.ogg
  aloneedge.ogg
  american boy+3590+5.ogg
  attributions.yml
  comedor de cu+2350+5.ogg
  constellations.ogg
  drifting.ogg
  fenda da sunga+3020+5.ogg
Labels: Changes: YML

#7 Guidebook da Sec atualizado, adição da spacelaw integrado no guidebook da sec
  Resources/ServerInfo/Guidebook/Security/CriminalRecords.xml
  Resources/ServerInfo/Guidebook/Security/Defusal.xml
  Resources/ServerInfo/Guidebook/Security/Forensics.xml
  Resources/ServerInfo/Guidebook/Security/SLControlledSubstances.xml
  Resources/ServerInfo/Guidebook/Security/SLCrimeList.xml
  Resources/ServerInfo/Guidebook/Security/SLRestrictedGear.xml
  Resources/ServerInfo/Guidebook/Security/SLRestrictedWeapons.xml
  Resources/ServerInfo/Guidebook/Security/Security.xml
  Resources/ServerInfo/Guidebook/Security/SpaceLaw.xml
Labels: Changes: Documentation

#6 Update Standard.yml
  Resources/Prototypes/Catalog/Jukebox/Standard.yml
Labels: Changes: YML
